{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">Consulta Médica</h1>
  </div>

  <article class="panel-body">
    <form action="" method="post" role="form" id="js-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="patient">Paciente</label>
        <input id="patient" type="text" value="{{ patient.first_name|title }} {{ patient.last_name|title }}" class="form-control" readonly>
      </div>

      <div class="form-group">
        <label for="dni">DNI</label>
        <input id="dni" type="text" value="{{ patient.dni }}" class="form-control js-dni" readonly>
      </div>

      <div class="form-group">
        <label for="diagnosis">Diagnóstico</label>
        <textarea rows="3" name="diagnosis" id="diagnosis" type="text" class="form-control" required></textarea>
      </div>

      <div class="form-group">
        <label for="prescription">Receta médica</label>
        <textarea rows="3" name="prescription" id="prescription" type="text" class="form-control" required></textarea>

        <div class="row row-medicine clone" style="display:none">
          <div class="col-xs-5">
            <span class="col-sm-4 control-label center-label">Medicamento</span>
            <div class="col-sm-8">
              <select class="form-control js-select-medicine">
              </select>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-group">
              <span class="col-sm-3 control-label center-label">Cantidad</span>
              <div class="col-sm-9">
                <input class="form-control js-amount-medicine" type="number" name="quantity" min="1" max="50">
              </div>
            </div>
          </div>

          <div class="col-xs-2">
            <i class="fa fa-plus-circle fa-2x fa-add js-add" title="Agregar"></i>
            <i class="fa fa-minus-circle fa-2x fa-delete js-delete" style="display:none" title="Eliminar"></i>
          </div>
        </div>

        <div class="js-container-medicaments"></div>
      </div>

      <div class="checkbox">
        <label>
          <input name="is_inpatient" id="js-isInpatient" type="checkbox"> ¿Será Internado?
        </label>
      </div>

      <p>
        <button type="submit" class="btn btn-success btn-block js-submit" data-loading-text="Enviando..."/> Crear</button>
      </p>
    </form>

    <p>
      <a href="{% url 'patient_app:patients-list' %}" class="btn btn-primary btn-block"> Volver a la Lista </a>
    </p>
  </article>

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/medicine.js' %}"></script>
{% endblock js %}