{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">Consulta Médica</h1>
  </div>

  <article class="panel-body">
    <form action="" method="post" role="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="patient">Paciente</label>
        <input id="patient" type="text" value="{{ patient.first_name|title }} {{ patient.last_name|title }}" class="form-control" readonly>
      </div>

      <div class="form-group">
        <label for="dni">DNI</label>
        <input id="dni" type="text" value="{{ patient.dni }}" class="form-control" readonly>
      </div>

      <div class="form-group">
        <label for="diagnosis">Diagnóstico</label>
        <textarea rows="3" name="diagnosis" id="diagnosis" type="text" class="form-control" required></textarea>
      </div>

      <div class="form-group">
        <label for="prescription">Receta médica</label>
        <textarea rows="3" name="prescription" id="prescription" type="text" class="form-control" required></textarea>
      </div>

      <div class="checkbox">
        <label>
          <input name="is_inpatient" type="checkbox"> ¿Será Internado?
        </label>
      </div>

      <p>
        <button type="submit" class="btn btn-success btn-block"/> Crear</button>
      </p>
    </form>

    <p>
      <a href="{% url 'patient_app:patients-list' %}" class="btn btn-primary btn-block"> Volver a la Lista </a>
    </p>
  </article>

{% endblock content %}
