{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% if not consultations %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {% if consultation.is_inpatient %}
      El paciente <strong>estuvo internado!</strong>
    {% else %}
      El paciente <strong>recibió atención ambulatoria</strong>
    {% endif %}
  </div>
{% endif %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">
      Detalle de la Consulta del <strong>{{ consultation.date_performed|date }}</strong>
    </h1>
  </div>

  <article class="panel-body">

    {% if consultation.patient %}
      <p>Paciente: <strong>{{ consultation.patient.first_name|title }} {{ consultation.patient.last_name|title }}</strong></p>
    {% endif %}

    {% if consultation.diagnosis %}
      <p>Diagnostico: <strong>{{ consultation.diagnosis }}</strong></p>
    {% endif %}

    {% if consultation.prescription %}
      <p>Receta: <strong>{{ consultation.prescription }}</strong></p>
    {% endif %}

    <p>Doctor a Cargo: 
    <strong>
    {% if consultation.doctor.first_name %}
       {{ consultation.doctor.first_name|title }} {{ consultation.doctor.last_name|title }}
    {% else %}
      {{ consultation.doctor.username }}
    {% endif %}
    </strong>
    </p>

    <h2>Medicinas</h2>

  </article>

  {% if medicines_per_consultation %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código</th>        
          <th>Nombre</th>        
          <th>Cantidad Suministrada</th> 
          <th>Detalle</th> 
        </tr>
      </thead>
      <tbody>
        {% for medicine_per_consultation in medicines_per_consultation %}
          <tr>
            <td>{{ medicine_per_consultation.medicine.code }}</td>
            <td>{{ medicine_per_consultation.medicine.name|title }}</td>
            <td>{{ medicine_per_consultation.amount }}</td>
            <td><a href="{% url 'medicine_app:medicines-detail' medicine_per_consultation.medicine.code %}"><i class="fa fa-eye"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <article class="panel-body">
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        El paciente no necesitó ser medicado!
      </div>
    </article>
  {% endif %}


  <article class="panel-body">
    <p>
      <a href="{% url 'consultation_app:medical-history' consultation.patient.dni %}" class="btn btn-success btn-block"> Volver al Historial </a>
    </p>
    <p>
      <a href="{% url 'patient_app:patients-list' %}" class="btn btn-primary btn-block"> Volver a la Lista de Pacientes </a>
    </p>
  </article>

</div>

{% endblock content %}