{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <section class="center-block">
    <h1>Ingreso</h1>

    <form role="form" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="inputEmail">Usuario</label>
        <input name="username" type="text" class="form-control" id="inputEmail" placeholder="Ingrese usuario">
      </div>
      <div class="form-group">
        <label for="inputPassword">Contraseña</label>
        <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Ingrese contraseña">
      </div>
      <button type="submit" class="btn btn-default">Ingresar</button>
    </form>
  </section>
{% endblock content %}