{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">Crear Usuario</h1>
  </div>

  <article class="panel-body">
    <form action="" method="post" role="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="">Usuario</label>
        <input name="username" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Nombres</label>
        <input name="first_name" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Apellidos</label>
        <input name="last_name" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Email</label>
        <input name="email" type="email" class="form-control">
      </div>

      <div class="checkbox">
        <label>
          <input name="is_superuser" type="checkbox"> ¿Es superusuario?
        </label>
      </div>
      
      <p>
        <button type="submit" class="btn btn-success btn-block"/> Crear</button>
      </p>
    </form>

    <p>
      <a href="{% url 'user_app:users-list' %}" class="btn btn-primary btn-block"> Volver a la Lista </a>
    </p>
  </article>

{% endblock content %}
