{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">Lista de Usuarios</h1>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Usuario</th>        
        <th>Nombres</th>        
        <th>Apellidos</th>        
        <th>¿Es médico?</th>        
        <th>Fecha de Creación</th>        
      </tr>
    </thead>
    <tbody>
    {% for my_user in my_users %}
    <tr>
    <td><a href="{% url 'user_app:users-detail' my_user.id %}">{{ my_user.username }}</a></td>
    <td>{{ my_user.first_name }}</td>
    <td>{{ my_user.last_name }}</td>
    <td>
      {% if my_user.is_superuser %}
        <span class="glyphicon glyphicon-remove"></span>
      {% else %}
        <span class="glyphicon glyphicon-ok"></span>
      {% endif %}
    </td>
    <td>{{ my_user.date_joined|date }}</td>
    </tr>
    {% empty %}
        No Hay Usuarios!
    {% endfor %}
    </tbody>
  </table>

  <article class="panel-body">
    <p>
      <a href="{% url 'user_app:users-create' %}" class="btn btn-success btn-block"> Crear Usuario </a>
    </p>
  </article>

</div>

{% endblock content %}
