{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">Modificar Usuario</h1>
  </div>

  <article class="panel-body">
    <form action="" method="post" role="form">
      {% csrf_token %}

      <div class="form-group">
        <label for="username">Usuario</label>
        <input name="username" id="username" type="text" class="form-control" value="{{ my_user.username }}" readonly>
      </div>

      <div class="form-group">
        <label for="first_name">Nombres</label>
        <input name="first_name" id="first_name" type="text" class="form-control" value="{{ my_user.first_name }}">
      </div>

      <div class="form-group">
        <label for="last_name">Apellidos</label>
        <input name="last_name" id="last_name" type="text" class="form-control" value="{{ my_user.last_name }}">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" class="form-control" value="{{ my_user.email }}">
      </div>

      <div class="checkbox">
        <label>
          <input name="is_superuser" type="checkbox" value="{{ my_user.is_superuser }}" {% if my_user.is_superuser %} checked {% endif %}> ¿Es superusuario?
        </label>
      </div>

      <p>
        <button type="submit" class="btn btn-success btn-block"/>Modificar</button>
      </p>
    </form>

    <section>
      <p>
        <a href="{% url 'user_app:users-list' %}" class="btn btn-primary btn-block"> Volver a la Lista </a>
      </p>
      <p>
        <a href="{% url 'user_app:users-delete' my_user.pk %}" class="btn btn-primary btn-block"> Eliminar Usuario </a>
      </p>
    </section>
  </article>

</div>

{% endblock content %}
