{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">Crear Paciente</h1>
  </div>

  <article class="panel-body">
    <form action="" method="post" role="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="dni">DNI</label>
        <input name="dni" id="dni" type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="first_name">Nombres</label>
        <input name="first_name" id="first_name" type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="last_name">Apellido</label>
        <input name="last_name" id="last_name" type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="age">Edad</label>
        <input name="age" id="age" type="number" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="sex">Sexo</label>
        <select name="sex" id="sex" class="form-control" required>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </div>

      <div class="form-group">
        <label for="address">Dirección</label>
        <input name="address" id="address" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="telephone">Teléfono</label>
        <input name="telephone" id="telephone" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="cellphone">Celular</label>
        <input name="cellphone" id="cellphone" type="text" class="form-control">
      </div>

      <div class="checkbox">
        <label>
          <input name="is_inpatient" type="checkbox"> ¿Está Internado?
        </label>
      </div>

      <p>
        <button type="submit" class="btn btn-success btn-block"/> Crear</button>
      </p>
    </form>

    <p>
      <a href="{% url 'patient_app:patients-list' %}" class="btn btn-primary btn-block"> Volver a la Lista </a>
    </p>
  </article>

{% endblock content %}
