<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>

<body>

  <h1>Crear Pacientes</h1>
  <form action="" method="post">
    {% csrf_token %}
    <p>
      <label for="">dni</label>
      <input name="dni" type="text">
    </p>

    <p>
      <label for="">first_name</label>
      <input name="first_name" type="text">
    </p>

    <p>
      <label for="">last_name</label>
      <input name="last_name" type="text">
    </p>

    <p>
      <label for="">age</label>
      <input name="age" type="number">
    </p>

    <p>
      <label for="">sex</label>
      <select name="sex">
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
    </p>

    <p>
      <label for="">address</label>
      <input name="address" type="text">
    </p>

    <p>
      <label for="">email</label>
      <input name="email" type="email">
    </p>

    <p>
      <label for="">telephone</label>
      <input name="telephone" type="text">
    </p>

    <p>
      <label for="">cellphone</label>
      <input name="cellphone" type="text">
    </p>

    <input type="submit" value="Create" />
  </form>

  <p>
    <a href="{% url 'patient_app:patients-list' %}"> Volver a la Lista </a>
  </p>

</body>

</html>
