{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-danger">

  <div class="panel-heading">
    <h1 class="panel-title">
      Eliminación del Paciente <strong>{{ object.first_name|title }} {{ object.last_name|title }}</strong> <i class="fa fa-trash"></i>
    </h1>
  </div>

  <article class="panel-body">
    <form action="" method="post">
      {% csrf_token %}
      <h2>¿Está seguro que desea eliminar a <strong>{{ object.first_name|title }} {{ object.last_name|title }}</strong> identificado con DNI: <strong>{{ object }}</strong>?</h2>
      <p>
        <button type="submit" class="btn btn-danger btn-block"/>Confirmar</button>
      </p>
    </form>

    <section>
      <p>
        <a href="{% url 'patient_app:patients-list' %}" class="btn btn-success btn-block"> Volver a la Lista </a>
      </p>
      <p>
        <a href="{% url 'patient_app:patients-update' object.dni %}" class="btn btn-primary btn-block"> Modificar Paciente </a>
      </p>
    </section>

  </article>

</div>

{% endblock content %}