{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">
      Detalle del Paciente <strong>{{ object.first_name|title }} {{ object.last_name|title }}</strong> <i class="fa fa-wheelchair"></i>
    </h1>
  </div>

  <article class="panel-body">
    {% if object.is_inpatient %}
      <div class="alert alert-warning" role="alert">El paciente <strong>se encuentra internado!</strong></div>
    {% else %}
      <div class="alert alert-success" role="alert">El paciente <strong>NO se encuentra internado...</strong></div>
    {% endif %}

    {% if object.dni %}
      <p>DNI: <strong>{{ object.dni }}</strong></p>
    {% endif %}
    
    {% if object.superuser %}
      <p>Creador: <strong>{{ object.superuser.username }}</strong></p>
    {% endif %}
    
    {% if object.first_name %}
      <p>Nombres: <strong>{{ object.first_name|title }}</strong></p>
    {% endif %}
    
    {% if object.last_name %}
      <p>Apellidos: <strong>{{ object.last_name|title }}</strong></p>
    {% endif %}
    
    {% if object.age %}
      <p>Edad: <strong>{{ object.age }}</strong></p>
    {% endif %}
    
    {% if object.sex %}
      <p>Sexo: <strong>{{ object.sex }}</strong></p>
    {% endif %}
    
    {% if object.address %}
      <p>Dirección: <strong>{{ object.address }}</strong></p>
    {% endif %}
    
    {% if object.email %}
      <p>Email: <strong>{{ object.email }}</strong></p>
    {% endif %}
    
    {% if object.telephone %}
      <p>Teléfono: <strong>{{ object.telephone }}</strong></p>
    {% endif %}
    
    {% if object.telephone %}
      <p>Celular: <strong>{{ object.cellphone }}</strong></p>
    {% endif %}
    
    {% if object.date_joined %}
      <p>Fecha de Creación: <strong>{{ object.date_joined|date }}</strong></p>
    {% endif %}

    <p>
      <a href="{% url 'patient_app:patients-list' %}" class="btn btn-primary btn-block"> Volver a la Lista </a>
    </p>
    <p>
      <a href="{% url 'patient_app:patients-update' object.dni %}" class="btn btn-primary btn-block"> Modificar Paciente </a>
    </p>
    <p>
      <a href="{% url 'patient_app:patients-delete' object.dni %}" class="btn btn-primary btn-block"> Eliminar Paciente </a>
    </p>
  </article>

</div>

{% endblock content %}