{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">Lista de Pacientes</h1>
  </div>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>DNI</th>        
        <th>Nombres</th>        
        <th>Apellidos</th>        
        <th>Edad</th>        
        <th>Sexo</th>        
        <th>Email</th>        
        <th>¿Está Internado?</th>        
        <th>Reclutador</th>        
        <th>Fecha de Creación</th>        
        <th>Historial</th>        
        <th>Consulta</th>        
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
        <tr>
          <td><a href="{% url 'patient_app:patients-detail' patient.dni %}">{{ patient.dni }}</a></td>
          <td>{{ patient.first_name }}</td>
          <td>{{ patient.last_name }}</td>
          <td>{{ patient.age }}</td>
          <td>
            {% if patient.sex == 'M' %}
              <i class="fa fa-male"></i> M
            {% else %}
              <i class="fa fa-female"></i> F
            {% endif %}
          </td>
          <td>{{ patient.email }}</td>
          <td>
            {% if patient.is_inpatient %}
              <span class="glyphicon glyphicon-ok"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
          </td>
          <td>{{ patient.superuser.username }}</td>
          <td>{{ patient.date_joined|date }}</td>
          <td>
            <a href="{% url 'consultation_app:medical-history' patient.dni %}"><i class="fa fa-file-text"></i></a>
          </td>
          <td>
            <a href="{% url 'consultation_app:medical-consultation' patient.dni %}"><i class="fa fa-stethoscope"></i></a>
          </td>
        </tr>
      {% empty %}
        Aun no hay pacientes!
      {% endfor %}
    </tbody>
  </table>

  <article class="panel-body">
    <p>
      <a href="{% url 'patient_app:patients-create' %}" class="btn btn-success btn-block"> Crear Paciente </a>
    </p>
  </article>

</div>

{% endblock content %}