{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">Modificar Paciente</h1>
  </div>

  <article class="panel-body">
    <form action="" method="post" role="form">
      {% csrf_token %}

      <div class="form-group">
        <label for="dni">DNI</label>
        <input name="dni" id="dni" type="text" value="{{ patient.dni }}" class="form-control" readonly>
      </div>

      <div class="form-group">
        <label for="first_name">Nombres</label>
        <input name="first_name" id="first_name" type="text" value="{{ patient.first_name }}" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="last_name">Apellido</label>
        <input name="last_name" id="last_name" type="text" value="{{ patient.last_name }}" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="age">Edad</label>
        <input name="age" id="age" type="number" value="{{ patient.age }}" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="sex">Sexo</label>
        <select name="sex" id="sex" class="form-control" required>
          <option value="M" {% if patient.sex == "M" %} selected {% endif %}>Masculino</option>
          <option value="F" {% if patient.sex == "F" %} selected {% endif %}>Femenino</option>
        </select>
      </div>

      <div class="form-group">
        <label for="address">Dirección</label>
        <input name="address" id="address" type="text" value="{{ patient.address }}" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" value="{{ patient.email }}" class="form-control">
      </div>

      <div class="form-group">
        <label for="telephone">Teléfono</label>
        <input name="telephone" id="telephone" type="text" value="{{ patient.telephone }}" class="form-control">
      </div>

      <div class="form-group">
        <label for="cellphone">Celular</label>
        <input name="cellphone" id="cellphone" type="text" value="{{ patient.cellphone }}" class="form-control">
      </div>

      <div class="checkbox">
        <label>
          <input name="is_inpatient" type="checkbox" value="{{ patient.is_inpatient }}" {% if patient.is_inpatient %} checked {% endif %}> ¿Está Internado?
        </label>
      </div>

      <p>
        <button type="submit" class="btn btn-success btn-block"/>Modificar</button>
      </p>
    </form>

    <section>
      <p>
        <a href="{% url 'patient_app:patients-list' %}" class="btn btn-primary btn-block"> Volver a la Lista </a>
      </p>
      <p>
        <a href="{% url 'patient_app:patients-delete' patient.dni %}" class="btn btn-primary btn-block"> Eliminar Paciente </a>
      </p>
    </section>
  </article>
  
</div>

{% endblock content %}

